body {
  overflow-x: hidden;
  @include body-font;
}

h1,
h2,
h3,
h4, 
h5,
h6 {
  letter-spacing: 0.01rem;
}

#gallary-1,
#gallary-2 {
  background-color: lighten($color-secundary, 10%);
  //#e3e0ca
}

#gallary-1 {
  h1 {
    font-size: 1.8rem;
  }
}

#gallary-2 {
  h1 {
    font-size: 3.2rem;
  }
}

.cta {
  background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/la-habana.jpg") scroll center center;
  background-size: cover;
  background-position: 80% 80%;
  padding: 190px 0;
}

.contact {
  background-color: #dad4b6;
}

.bg-gray {
  background-color: $gray-100;
}

.ff-normal {
  @include body-font;
}

.responsive-iframe {
  width: 100%;

}