.navbar-brand {
    @include heading-font;
    font-weight: 500;
    font-size: 2.4rem;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: black;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 1px;
}