// Your variable overrides
$font-family-sans-serif: "Work Sans", sans-serif;

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

.navbar-brand {
  font-family: serif;
  font-weight: 500;
  font-size: 2.4rem;
}

.nav-link {
  color: black;

}

.nav-link:hover {
  color: black;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 1px;
}

.btn {
  padding: 0 26px;
  height: 40px;
    line-height: 39px;
  border-radius: 3px;
  transition: 0.4s ease-in-out;
}

.btn:hover {

  color: white;
  background-color: black;
}